@import "../../assets/styles/variables.scss";

.hamburger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  span {
    transition: transform, opacity, 0.4s ease;
    display: block;
    height: 4px;
    background: $black;
  }

  &:hover {
    cursor: pointer;
  }

  &.open {
    span {
      &:first-child {
        transform: translateY(8px) rotate(45deg);
      }

      &:nth-child(2) {
        transition: opacity 0.2s ease;
        opacity: 0;
      }

      &:last-child {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}
