.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .wrapper-top {
    flex: 1;
    display: flex;
    flex-direction: column;

    .fill-space {
      flex: 1;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper .wrapper-top .fill-space {
    flex: 0;
  }
}
