@import "../../assets/styles/_variables.scss";

.social-links {
  margin-left: 1rem;
  font-size: 2rem;

  a {
    color: $black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: .28rem;
    border-radius: 50%;

    &:hover {
      color: $pink;
    }
  }
}

.site-footer .social-links {
  margin-left: 0;

  a {
    background: $black;
    color: $white;
    font-size: 1.5rem;
    width: 30px;
    height: 30px;
    margin-right: 0.25rem;

    &:hover {
      background: $pink;
    }
  }
}

@media screen and (max-width: 768px) {
  .social-links {
    margin-right: 1rem;
    margin-left: auto;
  }
}