@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato&display=swap&family=Patua+One&display=swap");

$mainFont: "Lato", sans-serif;
$pageTitleFont: "Patua One", cursive;
$alternativeFont: "Fredoka One", cursive;

$white: #ffffff;
$light-grey: #f7f7f7;

$light-text: #737373;

$blue: rgb(24, 24, 228);
$pink: rgb(245, 21, 159);

$dark: #333333;
$black: #000000;
