@import "./variables.scss";

@media screen and (max-width: 768px) {
  .projects .container {
    padding: 0;
  }
  .project-container {
    width: 100%;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $light-grey;

    .project-inner {
      box-shadow: none;
    }

    .project-description {
      border-width: 0;
    }
  }
}
